/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  color: darkgreen;
  background-color: #eae2b7;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

/* Set the font family for any h1, h2, or h3 heading */
h1,h2,h3,header{
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


article {
  padding: 50px 0;
}

article div {
  width: 100%;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border-top: 2px solid black;
  width: 100%;


}

/* Add your solution below */


.image-circle {
  border-radius: 100px;
  color: #003049;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  display: flex; /*apply flexbox to center image*/
  justify-content: center;
  flex-direction: column;
}

a {
  font-family: read-write-plaintext-only;
}
a:link {color:#d62828}
a:hover {color:#f77f00}

header > div > nav > a {
  color: #d62828;
  padding: 0 10px 10px 10px;
  text-align: center;
  font-family: "Playfair Display", Times, serif;
}

footer{
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

main{
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  flex-direction: column;
}

.Abs{
  display: flex; /*apply flexbox to center image*/
  justify-content: center;
  flex-direction: column;
}