/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  color: darkgreen;
  background-color: #eae2b7;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* Set the font family for any h1, h2, or h3 heading */
h1, h2, h3{
  font-family: "Playfair Display", Times, serif;
}

h2{
  text-align: center;
}

article {
  padding: 20px 0;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  width: 600px;
  margin: auto;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border-top: 2px solid black;
  width: 100%;
}

/* Add your solution below */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.container a{
  display:inline-block;
  padding:0px 20px;
}
  

.container-2{
  display: flex;
  align-items: center;
}

.container-2 img{
  border-style: solid;
  border-color: #003049;
  border-width: 2px;
  border-radius: 100px;
}  

.container-2 > *{
  flex: 1;
}

.container-3 {
  display: flex;
}

.container-3 h3{
  text-align: center;
}

.container-4 {
  display: flex;
}

.container-6{
  display: flex;
  gap: 1rem;
}

.container-6 > *{
  flex:1;
}

.container-6 p{
  size: 14px;
}

.head2 h3{
  text-align: center;
}


a {
  font-family: read-write-plaintext-only;
  color: #d62828;
  display: inline;
  }
a:link {color:#d62828}
a:hover {color:#f77f00}


footer{
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

main {
  margin-left: 30%;
  margin-right: 30%;
}

